@import url('https://fonts.cdnfonts.com/css/mollie-glaston');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Lato, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family:
    Mollie Glaston,
    sans-serif;
  color: #265b4e;
}
