.resultsTable {
  width: 100%;
  margin: 20px 0;

  tr {
    th,
    td {
      padding: 10px;
      text-align: left;
    }

    th {
      border-bottom: 1px solid #ededed;
      text-align: center;
    }

    td.numericCell {
      text-align: center;
    }
  }

  tr:nth-child(even) {
    background-color: #f8f8f8;
  }
}
